@model SiteViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="layout-docs container">
    <aside class="sidebar">
        <div class="sidebar__section">
            <button class="sidebar__heading">Documentation</button>
            <div class="sidebar__body">
                <ul class="sidebar__list">
                    <li class="sidebar__item"><a class="sidebar__link" href="/docs/parsed-json-document/index.html">ParsedJsonDocument</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/docs/json-document-builder/index.html">JsonDocumentBuilder</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/docs/migrating-from-v4/index.html">Migrating from V4</a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar__section">
            <button class="sidebar__heading">Getting Started</button>
            <div class="sidebar__body">
                <ul class="sidebar__list">
                    <li class="sidebar__item"><a class="sidebar__link" href="/getting-started/index.html">Tutorial</a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar__section">
            <button class="sidebar__heading">Examples</button>
            <div class="sidebar__body">
                <ul class="sidebar__list">
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/index.html">All Recipes</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <main id="main-content" class="layout-docs__main">
        <div class="doc__content">
            <h1>@Model.PageContext.Title</h1>
            @foreach (var contentFragment in Model.PageContext.GetAllMarkdownContent())
            {
                @Html.Raw(contentFragment.Body)
            }
        </div>
    </main>
</div>
