@model SiteViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="container">
    <main id="main-content">
        <article class="text-content">
            <header class="page-header">
                <h1>@Model.PageContext.Title</h1>
            </header>
            @foreach (var contentFragment in Model.PageContext.GetAllMarkdownContent())
            {
                <section>
                    @Html.Raw(contentFragment.Body)
                </section>
            }
        </article>
    </main>
</div>