@model SiteViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="layout-docs container">
    <button class="sidebar-toggle" aria-label="Toggle navigation" aria-expanded="false"></button>
    <div class="sidebar-backdrop"></div>
    <aside class="sidebar" data-has-member-nav>
        <div class="sidebar-search">
            <input id="sidebar-search-input" class="sidebar-search__input" type="search" placeholder="Filter…" autocomplete="off" />
            <div id="sidebar-search-dropdown" class="sidebar-search__dropdown" hidden></div>
        </div>
        <div class="sidebar__inner">
            <div class="sidebar__section">
                <button class="sidebar__heading is-collapsed">Corvus.Globalization</button>
                <div class="sidebar__body is-collapsed">
                    <ul class="sidebar__list">
                        <li class="sidebar__item"><a class="sidebar__link" href="/api/corvus-globalization.html"><strong>Overview</strong></a></li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-globalization-charunicodeinfo.html">Char<wbr>Unicode<wbr>Info</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-globalization-idnmapping.html">Idn<wbr>Mapping</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__section">
                <button class="sidebar__heading is-collapsed">Corvus.Numerics</button>
                <div class="sidebar__body is-collapsed">
                    <ul class="sidebar__list">
                        <li class="sidebar__item"><a class="sidebar__link" href="/api/corvus-numerics.html"><strong>Overview</strong></a></li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-numerics-bignumber.html">Big<wbr>Number</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__section">
                <button class="sidebar__heading">Corvus.Runtime.InteropServices</button>
                <div class="sidebar__body">
                    <ul class="sidebar__list">
                        <li class="sidebar__item"><a class="sidebar__link is-active" href="/api/corvus-runtime-interopservices.html"><strong>Overview</strong></a></li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-runtime-interopservices-jsonmarshal.html">Json<wbr>Marshal</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__section">
                <button class="sidebar__heading is-collapsed">Corvus.Text.Json</button>
                <div class="sidebar__body is-collapsed">
                    <ul class="sidebar__list">
                        <li class="sidebar__item"><a class="sidebar__link" href="/api/corvus-text-json.html"><strong>Overview</strong></a></li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-arrayenumerator-titem.html">Array<wbr>Enumerator&lt;TItem&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-ibytebufferwriter.html">IByte<wbr>Buffer<wbr>Writer</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-ijsonschemaresultscollector.html">IJson<wbr>Schema<wbr>Results<wbr>Collector</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsoncommenthandling.html">Json<wbr>Comment<wbr>Handling</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsondocumentbuilder-t.html">Json<wbr>Document<wbr>Builder&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsondocumentoptions.html">Json<wbr>Document<wbr>Options</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement.html">Json<wbr>Element</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-arraybuilder.html">Json<wbr>Element.<wbr>Array<wbr>Builder</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-arraybuilder-build.html">Json<wbr>Element.<wbr>Array<wbr>Builder.<wbr>Build</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-arraybuilder-build-t.html">Json<wbr>Element.<wbr>Array<wbr>Builder.<wbr>Build&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-jsonschema.html">Json<wbr>Element.<wbr>Json<wbr>Schema</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-mutable.html">Json<wbr>Element.<wbr>Mutable</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-objectbuilder.html">Json<wbr>Element.<wbr>Object<wbr>Builder</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-objectbuilder-build.html">Json<wbr>Element.<wbr>Object<wbr>Builder.<wbr>Build</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-objectbuilder-build-t.html">Json<wbr>Element.<wbr>Object<wbr>Builder.<wbr>Build&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-source.html">Json<wbr>Element.<wbr>Source</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelement-source-tcontext.html">Json<wbr>Element.<wbr>Source&lt;TContext&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelementextensions.html">Json<wbr>Element<wbr>Extensions</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelementforbooleanfalseschema.html">Json<wbr>Element<wbr>For<wbr>Boolean<wbr>False<wbr>Schema</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelementforbooleanfalseschema-jsonschema.html">Json<wbr>Element<wbr>For<wbr>Boolean<wbr>False<wbr>Schema.<wbr>Json<wbr>Schema</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonelementforbooleanfalseschema-mutable.html">Json<wbr>Element<wbr>For<wbr>Boolean<wbr>False<wbr>Schema.<wbr>Mutable</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonencodedtext.html">Json<wbr>Encoded<wbr>Text</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonexception.html">Json<wbr>Exception</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonpredicate-t.html">Json<wbr>Predicate&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonproperty-tvalue.html">Json<wbr>Property&lt;TValue&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonreaderoptions.html">Json<wbr>Reader<wbr>Options</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonreaderstate.html">Json<wbr>Reader<wbr>State</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonschemamessageprovider.html">Json<wbr>Schema<wbr>Message<wbr>Provider</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonschemamessageprovider-tcontext.html">Json<wbr>Schema<wbr>Message<wbr>Provider&lt;TContext&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonschemapathprovider.html">Json<wbr>Schema<wbr>Path<wbr>Provider</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonschemapathprovider-tcontext.html">Json<wbr>Schema<wbr>Path<wbr>Provider&lt;TContext&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonschemaresultscollector.html">Json<wbr>Schema<wbr>Results<wbr>Collector</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonschemaresultscollector-result.html">Json<wbr>Schema<wbr>Results<wbr>Collector.<wbr>Result</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonschemaresultscollector-resultsenumerator.html">Json<wbr>Schema<wbr>Results<wbr>Collector.<wbr>Results<wbr>Enumerator</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonschemaresultslevel.html">Json<wbr>Schema<wbr>Results<wbr>Level</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonvaluekind.html">Json<wbr>Value<wbr>Kind</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonworkspace.html">Json<wbr>Workspace</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-jsonwriteroptions.html">Json<wbr>Writer<wbr>Options</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-matcher-tmatch-tcontext-tresult.html">Matcher&lt;TMatch, TContext, TResult&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-matcher-tmatch-tout.html">Matcher&lt;TMatch, TOut&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-objectenumerator-tvalue.html">Object<wbr>Enumerator&lt;TValue&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-parsedjsondocument-t.html">Parsed<wbr>Json<wbr>Document&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-period.html">Period</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-periodbuilder.html">Period<wbr>Builder</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-rawutf8jsonstring.html">Raw<wbr>Utf8Json<wbr>String</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-unescapedutf16jsonstring.html">Unescaped<wbr>Utf16Json<wbr>String</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-unescapedutf8jsonstring.html">Unescaped<wbr>Utf8Json<wbr>String</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8iri.html">Utf8Iri</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8irireference.html">Utf8Iri<wbr>Reference</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8irireferencevalue.html">Utf8Iri<wbr>Reference<wbr>Value</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8irivalue.html">Utf8Iri<wbr>Value</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8jsonpointer.html">Utf8Json<wbr>Pointer</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8jsonreader.html">Utf8Json<wbr>Reader</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8jsonwriter.html">Utf8Json<wbr>Writer</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8uri.html">Utf8Uri</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8urireference.html">Utf8Uri<wbr>Reference</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8urireferencevalue.html">Utf8Uri<wbr>Reference<wbr>Value</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-utf8urivalue.html">Utf8Uri<wbr>Value</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__section">
                <button class="sidebar__heading is-collapsed">Corvus.Text.Json.Compatibility</button>
                <div class="sidebar__body is-collapsed">
                    <ul class="sidebar__list">
                        <li class="sidebar__item"><a class="sidebar__link" href="/api/corvus-text-json-compatibility.html"><strong>Overview</strong></a></li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-compatibility-polyfills.html">Polyfills</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-compatibility-validationcontext.html">Validation<wbr>Context</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-compatibility-validationlevel.html">Validation<wbr>Level</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-compatibility-validationresult.html">Validation<wbr>Result</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-compatibility-validationresult-locationtuple.html">Validation<wbr>Result.<wbr>Location<wbr>Tuple</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar__section">
                <button class="sidebar__heading is-collapsed">Corvus.Text.Json.Internal</button>
                <div class="sidebar__body is-collapsed">
                    <ul class="sidebar__list">
                        <li class="sidebar__item"><a class="sidebar__link" href="/api/corvus-text-json-internal.html"><strong>Overview</strong></a></li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-arrayenumerator.html">Array<wbr>Enumerator</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-arrayreverseenumerator.html">Array<wbr>Reverse<wbr>Enumerator</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-bigintegerpolyfills.html">Big<wbr>Integer<wbr>Polyfills</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-buildwithcontext.html">Build<wbr>With<wbr>Context</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-buildwithcontext-tcontext-tbuilder.html">Build<wbr>With<wbr>Context&lt;TContext, TBuilder&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-codegendatatype.html">Code<wbr>Gen<wbr>Data<wbr>Type</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-codegennumerictype.html">Code<wbr>Gen<wbr>Numeric<wbr>Type</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-codegenthrowhelper.html">Code<wbr>Gen<wbr>Throw<wbr>Helper</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-complexvaluebuilder.html">Complex<wbr>Value<wbr>Builder</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-complexvaluebuilder-complexvaluehandle.html">Complex<wbr>Value<wbr>Builder.<wbr>Complex<wbr>Value<wbr>Handle</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-complexvaluebuilder-valuebuilderaction.html">Complex<wbr>Value<wbr>Builder.<wbr>Value<wbr>Builder<wbr>Action</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-complexvaluebuilder-valuebuilderaction-tcontext.html">Complex<wbr>Value<wbr>Builder.<wbr>Value<wbr>Builder<wbr>Action&lt;TContext&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-enumeratorcreator.html">Enumerator<wbr>Creator</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-fixedstringjsondocument-t.html">Fixed<wbr>String<wbr>Json<wbr>Document&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-ijsondocument.html">IJson<wbr>Document</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-ijsonelement.html">IJson<wbr>Element</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-ijsonelement-t.html">IJson<wbr>Element&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-imutablejsondocument.html">IMutable<wbr>Json<wbr>Document</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-imutablejsonelement-t.html">IMutable<wbr>Json<wbr>Element&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsondocument.html">Json<wbr>Document</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsonelementhelpers.html">Json<wbr>Element<wbr>Helpers</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsonelementtensorhelpers.html">Json<wbr>Element<wbr>Tensor<wbr>Helpers</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsonregexoptions.html">Json<wbr>Regex<wbr>Options</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsonschemacontext.html">Json<wbr>Schema<wbr>Context</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsonschemacontext-evaluatedindexbuffer.html">Json<wbr>Schema<wbr>Context.<wbr>Evaluated<wbr>Index<wbr>Buffer</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsonschemaevaluation.html">Json<wbr>Schema<wbr>Evaluation</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsonschemamatcher.html">Json<wbr>Schema<wbr>Matcher</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsonschemamatcherwithrequiredbitbuffer.html">Json<wbr>Schema<wbr>Matcher<wbr>With<wbr>Required<wbr>Bit<wbr>Buffer</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-jsontokentype.html">Json<wbr>Token<wbr>Type</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-metadatadb.html">Metadata<wbr>Db</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-normalizedjsonnumber.html">Normalized<wbr>Json<wbr>Number</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-objectenumerator.html">Object<wbr>Enumerator</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-propertyschemamatchers-t.html">Property<wbr>Schema<wbr>Matchers&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-propertyschemamatchers-t-unescapednameprovider-t.html">Property<wbr>Schema<wbr>Matchers&lt;T&gt;.<wbr>Unescaped<wbr>Name<wbr>Provider&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-rentedbacking.html">Rented<wbr>Backing</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-rentedbacking-writer-t.html">Rented<wbr>Backing.<wbr>Writer&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-simpletypesbacking.html">Simple<wbr>Types<wbr>Backing</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-simpletypesbacking-writer-t.html">Simple<wbr>Types<wbr>Backing.<wbr>Writer&lt;T&gt;</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-uniqueitemshashset.html">Unique<wbr>Items<wbr>Hash<wbr>Set</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-uniqueitemshashset-unescapednameprovider.html">Unique<wbr>Items<wbr>Hash<wbr>Set.<wbr>Unescaped<wbr>Name<wbr>Provider</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-utf8uricomponents.html">Utf8Uri<wbr>Components</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-utf8uriformat.html">Utf8Uri<wbr>Format</a>
                        </li>
                        <li class="sidebar__item">
                            <a class="sidebar__link sidebar__link--type" href="/api/corvus-text-json-internal-utf8urikind.html">Utf8Uri<wbr>Kind</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <main id="main-content" class="layout-docs__main">
        <div class="doc__content">
            <h1>@Model.PageContext.Title</h1>
            @foreach (var contentFragment in Model.PageContext.GetAllMarkdownContent())
            {
                @Html.Raw(contentFragment.Body)
            }
        </div>
    </main>
</div>
