@model SiteViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="layout-docs container">
    <aside class="sidebar">
        <div class="sidebar__section">
            <button class="sidebar__heading">Examples</button>
            <div class="sidebar__body">
                <ul class="sidebar__list">
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/data-object/index.html">001 Data Object</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/data-object-validation/index.html">002 Validation</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/reusing-common-types/index.html">003 Reusing Types</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/open-versus-closed-types/index.html">004 Open vs Closed</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/extending-a-base-type/index.html">005 Extending</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/constraining-a-base-type/index.html">006 Constraining</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/strongly-typed-array/index.html">007 Arrays</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/higher-rank-array/index.html">008 Higher Rank</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/working-with-tensors/index.html">009 Tensors</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/creating-tuples/index.html">010 Tuples</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/interfaces-and-mixins/index.html">011 Interfaces</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/pattern-matching/index.html">012 Pattern Match</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/polymorphism-with-discriminators/index.html">013 Polymorphism</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/string-enumerations/index.html">014 String Enums</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/numeric-enumerations/index.html">015 Numeric Enums</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/maps/index.html">016 Maps</a></li>
                    <li class="sidebar__item"><a class="sidebar__link" href="/examples/mapping-input-output/index.html">017 Mapping I/O</a></li>
                </ul>
            </div>
        </div>
    </aside>
    <main id="main-content" class="layout-docs__main">
        <div class="doc__content">
            <h1>@Model.PageContext.Title</h1>
            @foreach (var contentFragment in Model.PageContext.GetAllMarkdownContent())
            {
                @Html.Raw(contentFragment.Body)
            }
        </div>
    </main>
</div>
